<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>

<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n">
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="Console" level="INFO" />
		</Root>
	</Loggers>
</Configuration>